@{ var estados = @Request.QueryString["estadoCtf"];
 var idCtf = @Request.QueryString["idCtf"];
}

@using (Html.BeginForm("InsertaTipoCatastrofeLoc", "Mantenedores", FormMethod.Post, new { @id = "Form_sol", @name = "Form_sol" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("CODIGO DE CATASTROFE", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.Editor("Ctf_Cod", new { htmlAttributes = new { @class = "form-control Ctf_Cod", @required = "required" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("DESCRIPCION", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.Editor("Ctf_Des", new { htmlAttributes = new { @class = "form-control Ctf_Des", @required = "required" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Estado", htmlAttributes: new { @class = "control-label col-md-3" })
            @if (estados == "1")
            {
                <div class="col-md-2 radio">
                    @Html.RadioButton("Ctf_Est", "1", new { @checked = true })@Html.Label("ACTIVO")
                </div>
                <div class="col-md-1 radio">
                    @Html.RadioButton("Ctf_Est", "0")@Html.Label("INACTIVO")
                </div>

            }
            else
            {
                <div class="col-md-2 radio">
                    @Html.RadioButton("Ctf_Est", "1")@Html.Label("ACTIVO")
                </div>
                <div class="col-md-1 radio">
                    @Html.RadioButton("Ctf_Est", "0", new { @checked = true })@Html.Label("INACTIVO")
                </div>
            }
        </div>


        <div class="modal-footer">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" data-dismiss="modal" class="btn btn-default">CERRAR </button>
                @if (estados == null)
                {
                    <input type="submit" value="INGRESAR" class="btn btn-primary" />
                }
                else
                {
                    <input type="submit" value="ACTUALIZA" class="btn btn-primary" />
                }
            </div>
        </div>
    </div>
}


