@{ var estados = @Request.QueryString["estadoClaRie"];
 var idClaRie = @Request.QueryString["idClaRie"];
}
@using (Html.BeginForm("InsertaClasificacionRiesgo", "Mantenedores", FormMethod.Post, new { @id = "Form_sol", @name = "Form_sol" }))

{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("TIPO DE RIESGO", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.Editor("Cla_Rie_Tip", new { htmlAttributes = new { @class = "form-control Cla_Rie_Tip", @required = "required" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("PORCENTAJE", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.Editor("Cla_Rie_Por_Pvs", new { htmlAttributes = new { @class = "form-control Cla_Rie_Por_Pvs", @required = "required" } })
                @Html.Editor("Cla_Rie_Id", new { htmlAttributes = new { @class = "form-control Cla_Rie_Id", @Value = "0", @style = "display: none" } })

            </div>
        </div>

        <div class="form-group">
            @Html.Label("Estado", htmlAttributes: new { @class = "control-label col-md-3" })
            @if (estados == "1")
            {
                <div class="col-md-2 radio">
                    @Html.RadioButton("Cla_Rie_Est", "1", new { @checked = true })@Html.Label("ACTIVO")
                </div>
                <div class="col-md-1 radio">
                    @Html.RadioButton("Cla_Rie_Est", "0")@Html.Label("INACTIVO")
                </div>

            }
            else
            {
                <div class="col-md-2 radio">
                    @Html.RadioButton("Cla_Rie_Est", "1")@Html.Label("ACTIVO")
                </div>
                <div class="col-md-1 radio">
                    @Html.RadioButton("Cla_Rie_Est", "0", new { @checked = true })@Html.Label("INACTIVO")
                </div>
            }
        </div>


        <div class="modal-footer">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" data-dismiss="modal" class="btn btn-default">CERRAR </button>
                @if (estados == null)
                {
                    <input type="submit" value="INGRESAR" class="btn btn-primary" />
                }
                else
                {
                    <input type="submit" value="ACTUALIZA" class="btn btn-primary" />
                }
            </div>
        </div>
    </div>
}